h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #537188;
  margin-bottom: 20px;
  text-align: center;
}

body {
  background-color: #f8f6f4;
  color: #73a9ad;
}

button {
  background-color: #c4dfdf;
  border-radius: 10px;
  border-style: none;
  font-size: larger;
}

button:hover {
  background-color: #d2e9e9;
  color: #8294c4;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input {
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 3rem;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
form select {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 3rem;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

form label {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;

  font-family: "Roboto", sans-serif;
}

form button {
  margin-top: 40px;
  height: 40px;
  width: 25%;
}

@media screen and (max-width: 900px) {
  form input {
    width: 60%;
  }
  form select {
    width: 60%;
  }
  form button {
    width: 60%;
  }
}
